$red:                #E8574D !default;
$yellow:             #F9B700 !default;
$purple:             #744692 !default;
$pink:               #E6468F !default;

$brand-primary:          $purple !default;
$brand-primary-dark:     #49434d !default;
$brand-secondary:        $pink !default;